.navbar {
  background-color: #1D191A;
}

.head {
  background-image: url("/assets/james-kovin-425Slg4x60U-unsplash.jpg");
  background-position: center center;
  background-size: cover;
}

.head .square {
  background-color: #1D191A;
  height: 400px;
  width: 300px;
}

.square h5 {
  color: #B49A5B;
}

.navbar-nav {
  margin-left: auto;
}
.square .icond {
  color: white;
}
.square-wc {
  width: auto;
  background-color: #1D191A;
  margin-left: -12px;
  margin-right: -12px;
}

#service-1 img {
  margin-left: -12px;
  width: 237px;
  height: 392px;
  position: absolute;
  ;
}

#service-1 .square-2 {
  height: 100px;
  background-color: hsl(42, 37%, 53%);

}
#service-1 .square-3 {
  height: 100px;
  background-color: #1D191A;
}
#service-1 .acc1{
  width: 20px;
  height: 30px;
  background-color:#B49A5B;
}

@media only screen and (max-width: 767px) {
  .square {
    display:none;
  }
  .square-wc .col-sm-9 {
    text-align: center;
  }
  #service-1 img {
    display: none;
  }
}
